<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <script>
    (function(_,e,rr,s){_errs=[s];var c=_.onerror;_.onerror=function(){var a=arguments;_errs.push(a);
            c&&c.apply(this,a)};var b=function(){var c=e.createElement(rr),b=e.getElementsByTagName(rr)[0];
                    c.src="//beacon.errorception.com/"+s+".js";c.async=!0;b.parentNode.insertBefore(c,b)};
        _.addEventListener?_.addEventListener("load",b,!1):_.attachEvent("onload",b)})
        (window,document,"script","5671c6e59184a4381100014e");
    </script>

    <script id="meta-insert-script">
        var thisScript = document.getElementById("meta-insert-script")
        console.log("this script is", thisScript)
        var parent = thisScript.parentElement
        console.log('parent is', parent)
        var branch_json = JSON.parse(localStorage.getItem("branch_session"))
        var has_app = true
        if (branch_json != null) {
            has_app = branch_json.has_app
            console.log('branch_session has_app: ', has_app)
        } else {
            has_app = false
        }
        if (has_app) {
            var meta = document.createElement("meta")
            meta.name="apple-itunes-app"
            meta.content="app-id=990828095, app-argument=com.funsocialapps.stitch://event/{{.Eid}}"
            parent.appendChild(meta)
        }
    </script>

    <meta name="description" content="Perfect for sharing photos &amp; videos from a wedding, family vacation, birthday party, sporting event, graduation, recital, or any special occasion with a group of family and friends (and not everyone on Facebook, Instagram, Twitter). No sign-up required!">
    <meta name="keywords" content="photos, videos, sharing, photography, videography">

    <title>Stitch</title>

    <link rel="icon" type="image/png" href="images/favicon.png">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png" />
    <!--CSS
        name=main
        srcdir=src/scss
        src=style.scss
    -->

    <!--JAVASCRIPT
        name=lib
        attributes=defer
        srcdir=lib
        src=modernizr.js
        src=underscore.js
        src=lazysizes.js
        src=picturefill.js
        src=ls.unveilhooks.js
        src=spark-md5.js
        src=analytics.js
        src=exif.js
        src=jquery.js
        src=branch-onpage.js
        src=branch.js

        srcdir=bootstrap/dist/js
        src=bootstrap.js
    -->
    <!--JAVASCRIPT
        name=app
        attributes=defer
        srcdir=src/js
        src=uuid.js
        src=file_md5.js
        src=stitchapi.js
        src=exif_orientation.js
        src=index.js
    -->
</head> 
<body>
    <noscript>
        <p>This site requires JavaScript. Please enable JavaScript and then refresh the page to continue.</p>
        <p>If your web browser doesn't support JavaScript, you can download
        <a href="https://www.mozilla.org/firefox">Mozilla Firefox</a>
        or
        <a href="https://www.google.com/chrome/browser">Google Chrome</a>
        for free.
        </p>
    </noscript>

    <div class="view" style="display: none" id="load-fail-view">
        <div class="alerts"></div>

        <div class="footer center">
            <a href="http://www.stitchpic.us/privacy">Privacy</a>
            <a href="http://www.stitchpic.us/terms">Terms</a>
            <a href="http://www.stitchpic.us/contact">Contact</a>
        </div>
    </div>

    <div class="view" style="display: none" id="event-list-view">
        <div class="title">Events</div>
        <div class="menu-home list-group">
            <button type="button" class="list-group-item text-xs-center create-event-link">
                Create Event
            </button>
        </div>
        <h6 class="event-list-title">Events Joined</h6>
        <div class="alert alert-info" role="alert" id="no-events-alert">
            <strong>Hi!</strong> Looks like you haven&apos;t joined any events.
            <a class="create-event-link">Create an event</a> to get started.
        </div>

        <div class="alerts"></div>
        <div class="list-group" id="event-list"></div>
        <div class="app-advertisements center" id="app-advertisements-list"></div>

        <div class="footer center">
            <a href="http://www.stitchpic.us/privacy">Privacy</a>
            <a href="http://www.stitchpic.us/terms">Terms</a>
            <a href="http://www.stitchpic.us/contact">Contact</a>
        </div>
    </div>

    <div class="view" style="display: none" id="event-view">
        <div class="title" id="event-title"></div>

        <div class="menu">
            <a class="btn add-photos-button invisible" id="add-photos">Add Photos</a>
            <div class="btn-group">
                <a class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu</a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="/">Events</a>
                    <a class="dropdown-item" id="share-event">Share Event Link</a>
                    <a class="dropdown-item create-event-link">Create Event</a>
                    <a class="dropdown-item" id="set-username">Set Username</a>
                    <a class="dropdown-item" style="display: none" id="open-in-app">Open in App</a>
                    <a class="dropdown-item" id="pair-with-atv">Display on Apple TV</a>
                </div>
            </div>
        </div>

        <div class="alerts">
            <div class="alert alert-info" role="alert" id="no-photos-alert">
                <strong>This event has no photos.</strong> <p class="add-photos-text">Be the first one to
                <a class="add-photos-button">add photos</a> to this event.</p>
            </div>
        </div>

        <div class="uploads center" id="uploads"></div>
        <div class="captures" id="captures"></div>
        <div class="app-advertisements center" id="app-advertisements"></div>

        <div class="footer center">
            <a href="http://www.stitchpic.us/privacy">Privacy</a>
            <a href="http://www.stitchpic.us/terms">Terms</a>
            <a href="http://www.stitchpic.us/contact">Contact</a>
        </div>
    </div>

    <div style="display: none">
        <input class="upload" id="upload-file-input" type="file" accept="image/*,video/*" multiple required>
    </div>

    <!-- Username Modal -->
    <div class="modal fade" id="change-username-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <form id="username-form">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title">Set Username</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="username" class="control-label">Username:</label>
                            <input type="text" class="form-control" id="username">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Event Modal -->
    <div class="modal fade" id="event-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form id="event-form">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title">Create Event</h4>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger" role="alert" id="event-modal-error">
                            Failed to create event. Please try again.
                        </div>
                        <div class="alert alert-success" role="alert" id="event-modal-success">
                            Created <span></span>. <a href="">Click here</a> to open.
                        </div>
                        <div class="form-group">
                            <label for="event-name" class="control-label">Event Name:</label>
                            <input type="text" class="form-control" placeholder="My Event" id="event-name"/>
                            <small class="text-help" id="event-name-small"></small>
                        </div>
                        <div class="form-group">
                            <label>
                                <input type="checkbox" value="on" id="anyone-can-post" checked/>
                                Anyone Can Post
                            </label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Action Menu Modal -->
    <div class="modal fade" id="action-menu-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="list-group text-xs-center">
                    <button type="button" class="list-group-item" id="report-abuse">Report Abuse</button>
                    <button type="button" class="list-group-item" id="share-item">Share Item</button>
                    <button type="button" class="list-group-item" id="view-original">View Original</button>
                    <button type="button" class="list-group-item list-group-item-danger" id="delete-item">Delete</button>
                    <button type="button" class="list-group-item" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- ATV Pairing Modal -->
    <div class="modal fade" id="pair-with-atv-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <form autocomplete="off">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title">Display on Apple TV</h4>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger" role="alert">
                            Failed to pair with Apple TV. Please check subscription code and try again.
                        </div>
                        <div class="alert alert-success" role="alert">
                            Successfully paired with Apple TV.
                        </div>
                        <div class="form-group">
                            <label for="atv-pairing-code" class="control-label">Subscription Code:</label>
                            <input class="no-input-spinner" type="number" class="form-control" placeholder="01234567" id="atv-pairing-code">
                            <br>
                            <small class="text-help"></small>
                        </div>
                        <small class="text-help">
                            Subscribe to this event on your Apple TV (4th generation) by entering the subscription code
                            displayed on your TV. To get code, you must first download Stitch from the Apple TV App Store,
                            open the app, and select <em>Subscribe</em>.
                        </small>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <!-- Delete Confirm Modal -->
    <div class="modal fade" id="confirm-delete-event" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title">Leave Event?</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" id="delete-event">Leave</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
