@import 'colors';
@import 'custom';
@import '../../bootstrap/scss/bootstrap-flex';

$font-stack: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$primary-font-size: 12pt;
$header-font-size: 1.2em;
$header-background-color: $color-primary-0;
$primary-text-color: black;
$main-background-color: #efeff4;
$capture-background-color: white;
$link-color: $color-primary-0;
$link-active-color: red;
$progress-left-color: $color-primary-1;
$progress-done-color: $color-primary-0;

body {
    // workaround for: https://bugs.webkit.org/show_bug.cgi?id=150715
    // https://bitbucket.org/truelabs/stitch-web/issues/19/user-name-prompt-dialog-box-sized-too-big
    min-height: 100vh;
}

.title {
    flex: 0 0 auto;
    text-align: center;
    color: white;
    background-color: $header-background-color;
    font-size: $header-font-size;
    font-weight: bold;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.menu {
    background-color: white;
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
}

.menu-home {
    @extend .menu;
    justify-content: space-around;
    margin-top: 1em;
}

.footer {
    max-width: 90%;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    text-transform: lowercase;
    word-spacing: 0.8em;
}

.app-advertisements {
    margin-top: 2em;
    text-align: center;

    img {
        height: 2.5em;
    }
}

.captures {
    width: 100%;
    text-align: center;
    vertical-align: top;
}

.capture {
    margin: 0.5em 0;
    background: $capture-background-color;
}

.captionbar {
    display: flex;
}

.caption {
    padding: 0.5em;
    flex: 1 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.action {
    flex: 0 0 auto;
    padding: 0 0.5em;
    margin: 0;
    border: 0;
    display: flex;
    align-items: center;
}

.action-image {
    width: 2em;
}

.capture-image, .capture-video {
    overflow: hidden;
    max-width: 100vw;
    max-height: 100vh;
}


.center {
    margin-left: auto;
    margin-right: auto;
}


.upload-cancel {
    @extend btn;

    // Undo the rounded corners
    @include media-breakpoint-up(sm) {
        @include border-radius(0);
    }

    border: 0;
}

.uploads {
    margin-top: 0.3em;
}

.card {
    display: flex;
    $card-height: 2em;
    background-color: $capture-background-color;
    margin-bottom: 0.5em;

    .left {
        flex: 0 1 auto;
        display: flex;
        background-color: $header-background-color;
        overflow: hidden;

        img {
            max-height: $card-height * 1.25;
        }
    }
    .middle {
        flex: 4 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;

        $progress-height: 0.5em;

        .upload-progress {
            flex: 0 0 $progress-height;
            width: 100%;

            appearance: none;
            border: none;
            margin: 0;

            &::-webkit-progress-bar {
                background-color: $progress-left-color;
            }
            &::-webkit-progress-value {
                background-color: $progress-done-color;
            }
        }

        .status {
            flex: 0 0;
            min-height: $card-height - $progress-height;
            width: 100%;
            margin: 0;
            padding: 0.3em;
            box-sizing: border-box;
        }

    }
    .right {
        flex: 0 0 auto;
        display: flex;
    }
}

.delete-event-button {
    color: red;
}

.delete-event-button:hover {
    color: red;
}

.event-list-title {
    margin: 0.5em;
}

.event-list-item {
    display: flex;
    justify-content: space-between;
}

.event-list-item-title {
    flex: 1 1 auto;
}

.event-list-item-delete {
    flex: 0 0 auto;
}

input[type=number].no-input-spinner::-webkit-outer-spin-button,
input[type=number].no-input-spinner::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type=number].no-input-spinner {
    -moz-appearance:textfield;
}

